# This the the canonical lab .gitignore file

# Ignore temp files
*~

# Ignore pdf files (just keep source files)
*.pdf

# Ignore junk files from latex output
*.out
*.log
*.aux
*.dvi
*.ps

# Ignore junk files from compiling C code
*.o
*.exe
src/emulate
src/assemble

# Ignore junk files from compiling Haskell code
*.hi

# Ignore junk files from compiling Java code
*.class

# Ignore other junk files
*.backup
*.kate-swp
*.swp
*.snm
*.vrb
*.nav
*.toc

# Ignore Visual Studio Code configurations by default
.vscode/

# Ignore interpreter executable and graphics output
extension/testeval
*.ppm
*.bmp
